In [44]:
import mysql.connector
import pandas as pd

In [45]:
# Connect to the MySQL server
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="lavanya@21",
    database="retail_sales_db"
)

In [46]:
cursor = connection.cursor()

In [6]:
cursor.execute("SELECT * FROM retail_sales")

In [7]:
results = cursor.fetchall()
for row in results:
    print(row)

(1, datetime.date(2022, 12, 16), datetime.timedelta(seconds=69000), 50, 'Male', 34, 'Beauty', 3, 50.0, 16.0, 150.0)
(2, datetime.date(2022, 6, 24), datetime.timedelta(seconds=36420), 104, 'Female', 26, 'Clothing', 2, 500.0, 135.0, 1000.0)
(3, datetime.date(2022, 6, 14), datetime.timedelta(seconds=25680), 114, 'Male', 50, 'Electronics', 1, 30.0, 8.1, 30.0)
(4, datetime.date(2023, 8, 27), datetime.timedelta(seconds=65520), 3, 'Male', 37, 'Clothing', 1, 500.0, 200.0, 500.0)
(5, datetime.date(2023, 9, 5), datetime.timedelta(seconds=79800), 3, 'Male', 30, 'Beauty', 2, 50.0, 24.0, 100.0)
(6, datetime.date(2023, 11, 15), datetime.timedelta(seconds=80160), 2, 'Female', 45, 'Beauty', 1, 30.0, 15.0, 30.0)
(7, datetime.date(2023, 7, 6), datetime.timedelta(seconds=23040), 38, 'Male', 46, 'Clothing', 2, 25.0, 13.25, 50.0)
(8, datetime.date(2022, 12, 27), datetime.timedelta(seconds=40740), 148, 'Male', 30, 'Electronics', 4, 25.0, 11.0, 100.0)
(9, datetime.date(2022, 12, 2), datetime.timedelta(seconds=47520), 85, 'Male', 63, 'Electronics', 2, 300.0, 78.0, 600.0)
(10, datetime.date(2022, 10, 24), datetime.timedelta(seconds=82500), 81, 'Female', 52, 'Clothing', 4, 50.0, 62.5, 200.0)
(11, datetime.date(2022, 2, 27), datetime.timedelta(seconds=37800), 151, 'Male', 23, 'Clothing', 2, 50.0, 23.5, 100.0)
(12, datetime.date(2022, 12, 9), datetime.timedelta(seconds=79740), 114, 'Male', 35, 'Beauty', 3, 25.0, 25.25, 75.0)
(13, datetime.date(2023, 2, 8), datetime.timedelta(seconds=63780), 106, 'Male', 22, 'Electronics', 3, 500.0, 245.0, 1500.0)
(14, datetime.date(2022, 5, 18), datetime.timedelta(seconds=25860), 8, 'Male', 64, 'Clothing', 4, 30.0, 13.2, 120.0)
(15, datetime.date(2022, 7, 1), datetime.timedelta(seconds=42600), 75, 'Female', 42, 'Electronics', 4, 500.0, 210.0, 2000.0)
(16, datetime.date(2022, 6, 25), datetime.timedelta(seconds=37980), 82, 'Male', 19, 'Clothing', 3, 500.0, 180.0, 1500.0)
(17, datetime.date(2023, 2, 25), datetime.timedelta(seconds=76080), 3, 'Female', 27, 'Clothing', 4, 25.0, 13.0, 100.0)
(18, datetime.date(2023, 9, 6), datetime.timedelta(seconds=69180), 5, 'Female', 47, 'Electronics', 2, 25.0, 12.5, 50.0)
(19, datetime.date(2023, 11, 26), datetime.timedelta(seconds=70740), 30, 'Female', 62, 'Clothing', 2, 25.0, 28.5, 50.0)
(20, datetime.date(2023, 12, 12), datetime.timedelta(seconds=77700), 85, 'Male', 22, 'Clothing', 3, 300.0, 345.0, 900.0)
(21, datetime.date(2022, 7, 11), datetime.timedelta(seconds=27180), 59, 'Female', 50, 'Beauty', 1, 500.0, 275.0, 500.0)
(22, datetime.date(2023, 11, 25), datetime.timedelta(seconds=61860), 66, 'Male', 18, 'Clothing', 2, 50.0, 60.5, 100.0)
(23, datetime.date(2023, 9, 28), datetime.timedelta(seconds=25500), 4, 'Female', 35, 'Clothing', 4, 30.0, 14.7, 120.0)
(24, datetime.date(2023, 12, 14), datetime.timedelta(seconds=82740), 59, 'Female', 49, 'Clothing', 1, 300.0, 87.0, 300.0)
(25, datetime.date(2022, 11, 20), datetime.timedelta(seconds=52320), 61, 'Female', 64, 'Beauty', 1, 50.0, 19.0, 50.0)
(26, datetime.date(2023, 10, 14), datetime.timedelta(seconds=64440), 51, 'Female', 28, 'Electronics', 2, 500.0, 600.0, 1000.0)
(27, datetime.date(2023, 12, 14), datetime.timedelta(seconds=71040), 39, 'Female', 38, 'Beauty', 2, 25.0, 8.25, 50.0)
(28, datetime.date(2023, 12, 11), datetime.timedelta(seconds=81240), 3, 'Female', 43, 'Beauty', 1, 500.0, 150.0, 500.0)
(29, datetime.date(2022, 3, 8), datetime.timedelta(seconds=72600), 31, 'Female', 42, 'Electronics', 1, 30.0, 13.5, 30.0)
(30, datetime.date(2023, 10, 10), datetime.timedelta(seconds=72300), 59, 'Female', 39, 'Beauty', 3, 300.0, 285.0, 900.0)
(31, datetime.date(2023, 12, 31), datetime.timedelta(seconds=64020), 3, 'Male', 44, 'Electronics', 4, 300.0, 129.0, 1200.0)
(32, datetime.date(2022, 7, 16), datetime.timedelta(seconds=33060), 150, 'Male', 30, 'Beauty', 3, 30.0, 8.4, 90.0)
(33, datetime.date(2023, 12, 24), datetime.timedelta(seconds=27600), 33, 'Female', 50, 'Electronics', 2, 50.0, 21.0, 100.0)
(34, datetime.date(2023, 9, 24), datetime.timedelta(seconds=48360), 87, 'Female', 51, 'Clothing', 3, 50.0, 17.0, 150.0)
(35, datetime.date(2022, 10, 29), datetime.timedelta(seconds=63000), 122, 'Female', 58, 'Beauty', 3, 300.0, 126.0, 900.0)
(36, datetime.date(2023, 2, 22), datetime.timedelta(seconds=79560), 40, 'Male', 52, 'Beauty', 3, 300.0, 144.0, 900.0)
(37, datetime.date(2023, 5, 26), datetime.timedelta(seconds=81720), 2, 'Female', 18, 'Beauty', 3, 25.0, 8.75, 75.0)
(38, datetime.date(2023, 2, 25), datetime.timedelta(seconds=41940), 147, 'Male', 38, 'Beauty', 4, 50.0, 26.0, 200.0)
(39, datetime.date(2023, 7, 11), datetime.timedelta(seconds=81840), 5, 'Male', 23, 'Clothing', 4, 30.0, 8.7, 120.0)
(40, datetime.date(2022, 6, 7), datetime.timedelta(seconds=77580), 78, 'Male', 45, 'Beauty', 1, 50.0, 24.5, 50.0)
(41, datetime.date(2022, 10, 11), datetime.timedelta(seconds=38160), 88, 'Male', 34, 'Clothing', 2, 25.0, 13.25, 50.0)
(42, datetime.date(2022, 12, 8), datetime.timedelta(seconds=30540), 63, 'Male', 22, 'Clothing', 3, 300.0, 147.0, 900.0)
(43, datetime.date(2023, 3, 18), datetime.timedelta(seconds=78120), 118, 'Female', 48, 'Clothing', 1, 300.0, 111.0, 300.0)
(44, datetime.date(2022, 3, 3), datetime.timedelta(seconds=40020), 93, 'Female', 22, 'Clothing', 1, 25.0, 11.75, 25.0)
(45, datetime.date(2022, 3, 20), datetime.timedelta(seconds=66420), 121, 'Female', 55, 'Electronics', 1, 30.0, 10.5, 30.0)
(46, datetime.date(2022, 11, 8), datetime.timedelta(seconds=64200), 54, 'Female', 20, 'Electronics', 4, 300.0, 84.0, 1200.0)
(47, datetime.date(2022, 10, 22), datetime.timedelta(seconds=62520), 96, 'Female', 40, 'Beauty', 3, 500.0, 600.0, 1500.0)
(48, datetime.date(2023, 10, 6), datetime.timedelta(seconds=63240), 2, 'Male', 54, 'Electronics', 3, 300.0, 123.0, 900.0)
(49, datetime.date(2022, 9, 17), datetime.timedelta(seconds=37980), 37, 'Female', 54, 'Electronics', 2, 500.0, 255.0, 1000.0)
(50, datetime.date(2022, 3, 29), datetime.timedelta(seconds=67860), 71, 'Female', 27, 'Beauty', 3, 25.0, 10.5, 75.0)
(51, datetime.date(2022, 10, 12), datetime.timedelta(seconds=79740), 78, 'Male', 27, 'Beauty', 3, 25.0, 24.75, 75.0)
(52, datetime.date(2022, 9, 19), datetime.timedelta(seconds=34920), 55, 'Female', 36, 'Beauty', 1, 300.0, 111.0, 300.0)
(53, datetime.date(2022, 1, 6), datetime.timedelta(seconds=64620), 32, 'Male', 34, 'Electronics', 2, 50.0, 22.0, 100.0)
(54, datetime.date(2022, 10, 20), datetime.timedelta(seconds=37020), 142, 'Female', 38, 'Electronics', 3, 500.0, 200.0, 1500.0)
(55, datetime.date(2023, 9, 28), datetime.timedelta(seconds=73920), 57, 'Male', 31, 'Beauty', 4, 30.0, 31.8, 120.0)
(56, datetime.date(2022, 12, 27), datetime.timedelta(seconds=70620), 97, 'Female', 26, 'Clothing', 3, 300.0, 120.0, 900.0)
(57, datetime.date(2022, 10, 11), datetime.timedelta(seconds=72720), 64, 'Female', 63, 'Beauty', 1, 30.0, 10.2, 30.0)
(58, datetime.date(2023, 9, 16), datetime.timedelta(seconds=69480), 53, 'Male', 18, 'Clothing', 4, 300.0, 75.0, 1200.0)
(59, datetime.date(2022, 11, 14), datetime.timedelta(seconds=66480), 61, 'Male', 62, 'Clothing', 1, 50.0, 27.0, 50.0)
(60, datetime.date(2022, 12, 4), datetime.timedelta(seconds=65700), 91, 'Male', 30, 'Beauty', 3, 50.0, 60.5, 150.0)
(61, datetime.date(2023, 7, 7), datetime.timedelta(seconds=42420), 4, 'Male', 21, 'Beauty', 4, 50.0, 20.0, 200.0)
(62, datetime.date(2023, 9, 16), datetime.timedelta(seconds=46440), 50, 'Male', 18, 'Beauty', 2, 50.0, 26.5, 100.0)
(63, datetime.date(2022, 2, 3), datetime.timedelta(seconds=42540), 127, 'Male', 57, 'Electronics', 2, 25.0, 6.25, 50.0)
(64, datetime.date(2022, 11, 15), datetime.timedelta(seconds=23640), 7, 'Male', 49, 'Clothing', 4, 25.0, 8.5, 100.0)
(65, datetime.date(2022, 12, 11), datetime.timedelta(seconds=72180), 84, 'Male', 51, 'Electronics', 4, 500.0, 160.0, 2000.0)
(66, datetime.date(2023, 6, 18), datetime.timedelta(seconds=82140), 3, 'Female', 45, 'Electronics', 1, 30.0, 9.0, 30.0)
(67, datetime.date(2023, 8, 19), datetime.timedelta(seconds=73140), 119, 'Female', 48, 'Beauty', 4, 300.0, 129.0, 1200.0)
(68, datetime.date(2022, 12, 15), datetime.timedelta(seconds=32760), 146, 'Male', 25, 'Electronics', 1, 300.0, 84.0, 300.0)
(69, datetime.date(2023, 11, 14), datetime.timedelta(seconds=81840), 1, 'Female', 56, 'Beauty', 3, 25.0, 8.5, 75.0)
(70, datetime.date(2022, 12, 27), datetime.timedelta(seconds=38880), 147, 'Female', 43, 'Clothing', 1, 300.0, 84.0, 300.0)
(71, datetime.date(2023, 2, 16), datetime.timedelta(seconds=69060), 32, 'Female', 51, 'Beauty', 4, 25.0, 11.5, 100.0)
(72, datetime.date(2023, 12, 6), datetime.timedelta(seconds=69540), 5, 'Female', 20, 'Electronics', 4, 500.0, 195.0, 2000.0)
(73, datetime.date(2022, 1, 14), datetime.timedelta(seconds=78420), 42, 'Male', 29, 'Electronics', 3, 30.0, 9.0, 90.0)
(74, datetime.date(2023, 10, 5), datetime.timedelta(seconds=71400), 56, 'Female', 18, 'Beauty', 4, 500.0, 205.0, 2000.0)
(75, datetime.date(2023, 5, 15), datetime.timedelta(seconds=75060), 110, 'Male', 61, 'Beauty', 4, 50.0, 13.5, 200.0)
(76, datetime.date(2023, 9, 9), datetime.timedelta(seconds=27180), 70, 'Female', 22, 'Electronics', 2, 50.0, 14.5, 100.0)
(77, datetime.date(2022, 4, 7), datetime.timedelta(seconds=74700), 44, 'Female', 47, 'Clothing', 2, 50.0, 24.0, 100.0)
(78, datetime.date(2023, 2, 17), datetime.timedelta(seconds=76080), 68, 'Female', 47, 'Clothing', 3, 500.0, 265.0, 1500.0)
(79, datetime.date(2023, 4, 13), datetime.timedelta(seconds=36900), 1, 'Male', 34, 'Beauty', 1, 300.0, 96.0, 300.0)
(80, datetime.date(2023, 10, 22), datetime.timedelta(seconds=60660), 82, 'Female', 64, 'Clothing', 2, 30.0, 12.3, 60.0)
(81, datetime.date(2023, 6, 7), datetime.timedelta(seconds=82080), 4, 'Male', 40, 'Electronics', 1, 50.0, 14.5, 50.0)
(82, datetime.date(2022, 9, 8), datetime.timedelta(seconds=46500), 85, 'Female', 32, 'Beauty', 4, 50.0, 15.0, 200.0)
(83, datetime.date(2022, 11, 27), datetime.timedelta(seconds=57420), 56, 'Male', 54, 'Electronics', 2, 50.0, 16.5, 100.0)
(84, datetime.date(2023, 11, 10), datetime.timedelta(seconds=62220), 89, 'Female', 38, 'Electronics', 3, 30.0, 10.2, 90.0)
(85, datetime.date(2022, 9, 3), datetime.timedelta(seconds=29100), 68, 'Male', 31, 'Clothing', 3, 50.0, 19.0, 150.0)
(86, datetime.date(2023, 9, 29), datetime.timedelta(seconds=68100), 69, 'Male', 19, 'Beauty', 3, 30.0, 15.6, 90.0)
(87, datetime.date(2022, 9, 7), datetime.timedelta(seconds=65340), 104, 'Female', 28, 'Beauty', 2, 50.0, 15.5, 100.0)
(88, datetime.date(2023, 2, 16), datetime.timedelta(seconds=30660), 122, 'Male', 56, 'Clothing', 1, 500.0, 185.0, 500.0)
(89, datetime.date(2023, 12, 30), datetime.timedelta(seconds=76500), 117, 'Female', 55, 'Electronics', 4, 500.0, 590.0, 2000.0)
(90, datetime.date(2023, 9, 10), datetime.timedelta(seconds=64380), 3, 'Female', 51, 'Electronics', 1, 30.0, 13.5, 30.0)
(91, datetime.date(2023, 4, 14), datetime.timedelta(seconds=23460), 152, 'Female', 55, 'Electronics', 1, 500.0, 235.0, 500.0)
(92, datetime.date(2022, 3, 21), datetime.timedelta(seconds=70860), 10, 'Female', 51, 'Electronics', 4, 30.0, 8.7, 120.0)
(93, datetime.date(2022, 1, 25), datetime.timedelta(seconds=75120), 148, 'Female', 35, 'Beauty', 4, 500.0, 140.0, 2000.0)
(94, datetime.date(2023, 3, 13), datetime.timedelta(seconds=81540), 5, 'Female', 47, 'Beauty', 2, 500.0, 250.0, 1000.0)
(95, datetime.date(2022, 11, 6), datetime.timedelta(seconds=71820), 103, 'Female', 32, 'Clothing', 2, 30.0, 7.5, 60.0)
(96, datetime.date(2023, 11, 22), datetime.timedelta(seconds=51000), 62, 'Female', 44, 'Clothing', 2, 300.0, 84.0, 600.0)
(97, datetime.date(2022, 11, 26), datetime.timedelta(seconds=65820), 112, 'Female', 51, 'Beauty', 2, 500.0, 555.0, 1000.0)
(98, datetime.date(2023, 4, 9), datetime.timedelta(seconds=70860), 1, 'Female', 55, 'Beauty', 2, 50.0, 19.5, 100.0)
(99, datetime.date(2023, 11, 19), datetime.timedelta(seconds=54720), 71, 'Female', 50, 'Electronics', 4, 300.0, 132.0, 1200.0)
(100, datetime.date(2022, 2, 8), datetime.timedelta(seconds=70440), 21, 'Male', 41, 'Electronics', 1, 30.0, 9.3, 30.0)
(101, datetime.date(2022, 1, 8), datetime.timedelta(seconds=31560), 24, 'Male', 32, 'Clothing', 2, 300.0, 135.0, 600.0)
(102, datetime.date(2023, 4, 17), datetime.timedelta(seconds=77640), 5, 'Female', 47, 'Beauty', 2, 25.0, 7.25, 50.0)
(103, datetime.date(2022, 11, 12), datetime.timedelta(seconds=36300), 33, 'Female', 59, 'Clothing', 1, 25.0, 10.75, 25.0)
(104, datetime.date(2022, 6, 9), datetime.timedelta(seconds=82680), 129, 'Female', 34, 'Beauty', 2, 500.0, 190.0, 1000.0)
(105, datetime.date(2023, 6, 18), datetime.timedelta(seconds=65100), 82, 'Female', 22, 'Electronics', 1, 500.0, 230.0, 500.0)
(106, datetime.date(2023, 5, 17), datetime.timedelta(seconds=68280), 1, 'Female', 46, 'Clothing', 1, 50.0, 15.0, 50.0)
(107, datetime.date(2022, 10, 6), datetime.timedelta(seconds=33480), 75, 'Female', 21, 'Clothing', 4, 300.0, 78.0, 1200.0)
(108, datetime.date(2023, 1, 24), datetime.timedelta(seconds=34680), 5, 'Female', 27, 'Beauty', 3, 25.0, 13.5, 75.0)
(109, datetime.date(2023, 9, 6), datetime.timedelta(seconds=71820), 94, 'Female', 34, 'Electronics', 4, 500.0, 560.0, 2000.0)
(110, datetime.date(2022, 11, 18), datetime.timedelta(seconds=62880), 149, 'Male', 27, 'Clothing', 3, 300.0, 99.0, 900.0)
(111, datetime.date(2023, 4, 15), datetime.timedelta(seconds=35100), 5, 'Female', 34, 'Electronics', 3, 500.0, 130.0, 1500.0)
(112, datetime.date(2023, 12, 25), datetime.timedelta(seconds=67440), 57, 'Male', 37, 'Clothing', 3, 500.0, 165.0, 1500.0)
(113, datetime.date(2022, 10, 8), datetime.timedelta(seconds=69240), 72, 'Female', 41, 'Electronics', 2, 25.0, 26.25, 50.0)
(114, datetime.date(2022, 4, 17), datetime.timedelta(seconds=75420), 92, 'Female', 22, 'Beauty', 4, 25.0, 9.25, 100.0)
(115, datetime.date(2022, 9, 2), datetime.timedelta(seconds=69660), 67, 'Male', 51, 'Clothing', 3, 500.0, 255.0, 1500.0)
(116, datetime.date(2023, 6, 22), datetime.timedelta(seconds=72240), 58, 'Female', 23, 'Clothing', 1, 30.0, 15.0, 30.0)
(117, datetime.date(2023, 8, 4), datetime.timedelta(seconds=41880), 8, 'Male', 19, 'Electronics', 2, 500.0, 230.0, 1000.0)
(118, datetime.date(2023, 3, 13), datetime.timedelta(seconds=72420), 3, 'Female', 30, 'Electronics', 4, 500.0, 270.0, 2000.0)
(119, datetime.date(2023, 9, 1), datetime.timedelta(seconds=33060), 127, 'Female', 60, 'Clothing', 3, 50.0, 27.5, 150.0)
(120, datetime.date(2023, 3, 31), datetime.timedelta(seconds=70500), 4, 'Male', 60, 'Beauty', 1, 50.0, 12.5, 50.0)
(121, datetime.date(2023, 10, 7), datetime.timedelta(seconds=68220), 110, 'Female', 28, 'Electronics', 4, 50.0, 54.5, 200.0)
(122, datetime.date(2023, 12, 1), datetime.timedelta(seconds=68520), 1, 'Male', 64, 'Electronics', 4, 30.0, 35.4, 120.0)
(123, datetime.date(2023, 8, 11), datetime.timedelta(seconds=68400), 3, 'Female', 40, 'Electronics', 2, 30.0, 11.7, 60.0)
(124, datetime.date(2022, 12, 24), datetime.timedelta(seconds=76620), 83, 'Male', 33, 'Clothing', 4, 500.0, 515.0, 2000.0)
(125, datetime.date(2022, 9, 28), datetime.timedelta(seconds=67680), 137, 'Male', 48, 'Clothing', 2, 50.0, 19.0, 100.0)
(126, datetime.date(2022, 11, 1), datetime.timedelta(seconds=65760), 63, 'Female', 28, 'Clothing', 3, 30.0, 28.8, 90.0)
(127, datetime.date(2023, 5, 20), datetime.timedelta(seconds=70620), 40, 'Female', 33, 'Clothing', 2, 25.0, 7.5, 50.0)
(128, datetime.date(2022, 12, 21), datetime.timedelta(seconds=80520), 77, 'Male', 25, 'Beauty', 1, 500.0, 180.0, 500.0)
(129, datetime.date(2023, 4, 17), datetime.timedelta(seconds=63720), 1, 'Female', 21, 'Beauty', 2, 300.0, 75.0, 600.0)
(130, datetime.date(2023, 6, 19), datetime.timedelta(seconds=22860), 114, 'Female', 57, 'Clothing', 1, 500.0, 125.0, 500.0)
(131, datetime.date(2023, 9, 29), datetime.timedelta(seconds=81120), 44, 'Female', 21, 'Beauty', 2, 300.0, 375.0, 600.0)
(132, datetime.date(2023, 11, 22), datetime.timedelta(seconds=74040), 86, 'Male', 42, 'Electronics', 4, 50.0, 62.0, 200.0)
(133, datetime.date(2022, 6, 23), datetime.timedelta(seconds=32460), 70, 'Male', 20, 'Electronics', 3, 300.0, 87.0, 900.0)
(134, datetime.date(2022, 8, 25), datetime.timedelta(seconds=32580), 132, 'Male', 49, 'Electronics', 1, 50.0, 16.0, 50.0)
(135, datetime.date(2022, 4, 18), datetime.timedelta(seconds=26520), 104, 'Male', 20, 'Clothing', 2, 25.0, 13.0, 50.0)
(136, datetime.date(2023, 12, 26), datetime.timedelta(seconds=32340), 25, 'Male', 44, 'Electronics', 2, 300.0, 141.0, 600.0)
(137, datetime.date(2022, 9, 10), datetime.timedelta(seconds=74520), 66, 'Male', 46, 'Beauty', 2, 500.0, 125.0, 1000.0)
(138, datetime.date(2023, 4, 27), datetime.timedelta(seconds=39360), 127, 'Male', 49, 'Clothing', 4, 50.0, 26.5, 200.0)
(139, datetime.date(2023, 9, 15), datetime.timedelta(seconds=50580), 113, 'Male', 36, 'Beauty', 4, 500.0, 230.0, 2000.0)
(140, datetime.date(2022, 7, 7), datetime.timedelta(seconds=73200), 61, 'Male', 38, 'Electronics', 1, 30.0, 14.4, 30.0)
(141, datetime.date(2022, 11, 1), datetime.timedelta(seconds=69960), 54, 'Female', 22, 'Electronics', 1, 50.0, 59.0, 50.0)
(142, datetime.date(2022, 4, 8), datetime.timedelta(seconds=36300), 61, 'Male', 35, 'Electronics', 4, 300.0, 138.0, 1200.0)
(143, datetime.date(2023, 2, 11), datetime.timedelta(seconds=80400), 118, 'Female', 45, 'Clothing', 1, 50.0, 27.5, 50.0)
(144, datetime.date(2022, 3, 26), datetime.timedelta(seconds=80280), 119, 'Female', 59, 'Beauty', 3, 500.0, 255.0, 1500.0)
(145, datetime.date(2022, 11, 6), datetime.timedelta(seconds=69660), 64, 'Female', 39, 'Clothing', 3, 25.0, 27.5, 75.0)
(146, datetime.date(2022, 11, 10), datetime.timedelta(seconds=79260), 74, 'Male', 38, 'Clothing', 4, 50.0, 49.0, 200.0)
(147, datetime.date(2022, 11, 12), datetime.timedelta(seconds=73800), 101, 'Male', 23, 'Electronics', 1, 300.0, 297.0, 300.0)
(148, datetime.date(2023, 7, 3), datetime.timedelta(seconds=74340), 5, 'Male', 18, 'Clothing', 2, 30.0, 9.9, 60.0)
(149, datetime.date(2023, 10, 14), datetime.timedelta(seconds=64320), 73, 'Male', 22, 'Clothing', 3, 25.0, 27.0, 75.0)
(151, datetime.date(2023, 10, 12), datetime.timedelta(seconds=56940), 108, 'Male', 29, 'Clothing', 1, 50.0, 18.0, 50.0)
(152, datetime.date(2022, 6, 16), datetime.timedelta(seconds=43080), 120, 'Male', 43, 'Electronics', 4, 500.0, 210.0, 2000.0)
(153, datetime.date(2023, 11, 19), datetime.timedelta(seconds=57120), 62, 'Male', 63, 'Electronics', 2, 500.0, 195.0, 1000.0)
(154, datetime.date(2022, 12, 24), datetime.timedelta(seconds=64020), 24, 'Male', 51, 'Electronics', 3, 300.0, 321.0, 900.0)
(155, datetime.date(2023, 7, 18), datetime.timedelta(seconds=65100), 3, 'Male', 31, 'Electronics', 4, 500.0, 150.0, 2000.0)
(156, datetime.date(2022, 12, 2), datetime.timedelta(seconds=70440), 60, 'Female', 43, 'Clothing', 4, 25.0, 7.0, 100.0)
(157, datetime.date(2022, 5, 15), datetime.timedelta(seconds=79140), 98, 'Male', 62, 'Electronics', 4, 500.0, 170.0, 2000.0)
(158, datetime.date(2022, 1, 21), datetime.timedelta(seconds=41880), 141, 'Female', 44, 'Electronics', 2, 300.0, 132.0, 600.0)
(159, datetime.date(2022, 11, 10), datetime.timedelta(seconds=77400), 42, 'Male', 26, 'Clothing', 4, 50.0, 23.5, 200.0)
(160, datetime.date(2022, 7, 20), datetime.timedelta(seconds=61680), 127, 'Female', 43, 'Clothing', 2, 50.0, 26.5, 100.0)
(161, datetime.date(2023, 7, 1), datetime.timedelta(seconds=25080), 104, 'Male', 64, 'Beauty', 2, 500.0, 195.0, 1000.0)
(162, datetime.date(2023, 4, 11), datetime.timedelta(seconds=70620), 118, 'Male', 39, 'Clothing', 2, 30.0, 9.0, 60.0)
(163, datetime.date(2022, 10, 31), datetime.timedelta(seconds=34680), 144, 'Female', 64, 'Clothing', 3, 50.0, 23.0, 150.0)
(164, datetime.date(2023, 2, 28), datetime.timedelta(seconds=66360), 3, 'Female', 47, 'Beauty', 3, 500.0, 185.0, 1500.0)
(165, datetime.date(2022, 9, 24), datetime.timedelta(seconds=68460), 75, 'Female', 60, 'Clothing', 4, 300.0, 318.0, 1200.0)
(166, datetime.date(2023, 1, 28), datetime.timedelta(seconds=42120), 32, 'Male', 34, 'Clothing', 4, 500.0, 225.0, 2000.0)

In [8]:
pd.read_sql_query("SELECT * FROM retail_sales",con=connection).head()

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\1127872124.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM retail_sales",con=connection).head()

,transactions_id,sale_date,sale_time,customer_id,gender,age,category,quantity,price_per_unit,cogs,total_sale
0,1,2022-12-16,0 days 19:10:00,50,Male,34,Beauty,3,50.0,16.0,150.0
1,2,2022-06-24,0 days 10:07:00,104,Female,26,Clothing,2,500.0,135.0,1000.0
2,3,2022-06-14,0 days 07:08:00,114,Male,50,Electronics,1,30.0,8.1,30.0
3,4,2023-08-27,0 days 18:12:00,3,Male,37,Clothing,1,500.0,200.0,500.0
4,5,2023-09-05,0 days 22:10:00,3,Male,30,Beauty,2,50.0,24.0,100.0

#### `COUNT TOTAL NUMBER OF ROWS`

In [9]:
query="SELECT COUNT(*) FROM Retail_sales"
pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\510376148.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

   COUNT(*)
0      1987

#### `CHECK FOR NULL VALUES IN EACH COLUMN`

In [18]:
query="""SELECT * FROM retail_sales
         WHERE transactions_id IS NULL
         OR 
         sale_date IS NULL
         OR 
         sale_time IS NULL
         OR 
         gender IS NULL
         OR 
         category IS NULL
         OR 
         quantity IS NULL
         OR 
         cogs IS NULL
         OR 
         total_sale IS NULL"""

In [19]:
pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\347663006.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

Empty DataFrame
Columns: [transactions_id, sale_date, sale_time, customer_id, gender, age, category, quantity, price_per_unit, cogs, total_sale]
Index: []

## DATA CLEANING

#### `DELETE THE NULL VALUES`

In [ ]:
query="""DELETE FROM retail_sales WHERE transactions_id IS NULL
         OR 
         sale_date IS NULL
         OR 
         sale_time IS NULL
         OR 
         gender IS NULL
         OR 
         category IS NULL
         OR 
         quantity IS NULL
         OR 
         cogs IS NULL
         OR 
         total_sale IS NULL"""

In [23]:
pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\347663006.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

Empty DataFrame
Columns: [transactions_id, sale_date, sale_time, customer_id, gender, age, category, quantity, price_per_unit, cogs, total_sale]
Index: []

## DATA EXPLORATIONS

##### HOW MANY SALES WE HAVE?

In [26]:
query="""SELECT COUNT(*) AS TOTAL_SALES FROM retail_sales"""
pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\1901978117.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

   TOTAL_SALES
0         1987

###### HOW MANY UNIQUE CUSTOMER DO YOU HAVE ?

In [27]:
query="""SELECT COUNT(DISTINCT CUSTOMER_ID) AS TOTAL_CUSTOMERS FROM retail_sales"""
pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\455598711.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

   TOTAL_CUSTOMERS
0              155

###### HOW MANY UNIQUE CATEGORY DO WE HAVE?

In [31]:
query="""SELECT DISTINCT CATEGORY AS TOTAL_CATEGORY FROM retail_sales"""
pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\3619774038.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

  TOTAL_CATEGORY
0         Beauty
1       Clothing
2    Electronics

##### `DATA ANALYSIS AND BUSSINESS KEY PROBLEMS AND ANSWERS`

Write a SQL query to retrieve all columns for sales made on '2022-11-05:

In [32]:
query="""SELECT * FROM retail_sales WHERE sale_date='2022-11-05' """
pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\1649915523.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

,transactions_id,sale_date,sale_time,customer_id,gender,age,category,quantity,price_per_unit,cogs,total_sale
0,180,2022-11-05,0 days 10:47:00,117,Male,41,Clothing,3,300.0,129.00,900.0
1,214,2022-11-05,0 days 16:31:00,53,Male,20,Beauty,2,30.0,8.10,60.0
2,240,2022-11-05,0 days 11:49:00,95,Female,23,Beauty,1,300.0,123.00,300.0
3,856,2022-11-05,0 days 17:43:00,102,Male,54,Electronics,4,30.0,9.30,120.0
4,943,2022-11-05,0 days 19:29:00,90,Female,57,Clothing,4,300.0,318.00,1200.0
5,1137,2022-11-05,0 days 22:34:00,104,Male,46,Beauty,2,500.0,145.00,1000.0
6,1256,2022-11-05,0 days 09:58:00,29,Male,23,Clothing,2,500.0,190.00,1000.0
7,1265,2022-11-05,0 days 14:35:00,86,Male,55,Clothing,3,300.0,111.00,900.0
8,1587,2022-11-05,0 days 20:06:00,140,Female,40,Beauty,4,300.0,105.00,1200.0
9,1819,2022-11-05,0 days 20:44:00,83,Female,35,Beauty,2,50.0,13.50,100.0
10,1896,2022-11-05,0 days 20:19:00,87,Female,30,Electronics,2,25.0,30.75,50.0

Write a SQL query to retrieve all transactions where the category is 'Clothing' and the quantity sold is more than 4 in the month of Nov-2022:

In [48]:
query="""SELECT 
  *
FROM retail_sales
WHERE 
    category = 'Clothing'
    
	AND 
    DATE_FORMAT(sale_date, "%Y-%m")='2022-11'
  
    AND
    quantity >=4;
         """
pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\245549741.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

,transactions_id,sale_date,sale_time,customer_id,gender,age,category,quantity,price_per_unit,cogs,total_sale
0,64,2022-11-15,0 days 06:34:00,7,Male,49,Clothing,4,25.0,8.5,100.0
1,146,2022-11-10,0 days 22:01:00,74,Male,38,Clothing,4,50.0,49.0,200.0
2,159,2022-11-10,0 days 21:30:00,42,Male,26,Clothing,4,50.0,23.5,200.0
3,284,2022-11-12,0 days 09:17:00,129,Male,43,Clothing,4,50.0,20.5,200.0
4,547,2022-11-14,0 days 07:36:00,3,Male,63,Clothing,4,500.0,250.0,2000.0
5,699,2022-11-21,0 days 22:21:00,129,Female,37,Clothing,4,30.0,16.2,120.0
6,735,2022-11-26,0 days 21:38:00,153,Female,64,Clothing,4,500.0,515.0,2000.0
7,943,2022-11-05,0 days 19:29:00,90,Female,57,Clothing,4,300.0,318.0,1200.0
8,965,2022-11-27,0 days 21:45:00,84,Male,22,Clothing,4,50.0,13.0,200.0
9,1259,2022-11-03,0 days 17:31:00,105,Female,45,Clothing,4,50.0,21.0,200.0
10,1296,2022-11-26,0 days 20:42:00,45,Female,22,Clothing,4,300.0,342.0,1200.0
11,1476,2022-11-11,0 days 22:27:00,130,Female,27,Clothing,4,500.0,555.0,2000.0
12,1484,2022-11-23,0 days 09:29:00,22,Female,19,Clothing,4,300.0,147.0,1200.0
13,1497,2022-11-19,0 days 21:44:00,109,Male,41,Clothing,4,30.0,32.4,120.0
14,1615,2022-11-17,0 days 13:43:00,82,Female,61,Clothing,4,25.0,13.5,100.0
15,1696,2022-11-21,0 days 17:59:00,24,Female,50,Clothing,4,50.0,55.0,200.0
16,1885,2022-11-09,0 days 07:32:00,148,Female,52,Clothing,4,30.0,10.8,120.0

Write a SQL query to calculate the total sales (total_sale) for each category.:

In [51]:
query="""SELECT category,SUM(total_sale) AS Total_SALES
         FROM retail_sales
         GROUP BY category
"""
pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\2810449618.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

      category  Total_SALES
0       Beauty     286790.0
1     Clothing     309995.0
2  Electronics     311445.0

Write a SQL query to find the average age of customers who purchased items from the 'Beauty' category.:

In [54]:
query="""SELECT category,ROUND(AVG(age),2) AS AVG_AGE
         FROM retail_sales
         WHERE category='Beauty'
         GROUP BY 1"""

pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\114074008.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

  category  AVG_AGE
0   Beauty    40.42

Write a SQL query to find all transactions where the total_sale is greater than 1000.:

In [56]:
query="""SELECT  *
         FROM retail_sales
         WHERE total_sale>1000
         """

pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\1875145045.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

,transactions_id,sale_date,sale_time,customer_id,gender,age,category,quantity,price_per_unit,cogs,total_sale
0,13,2023-02-08,0 days 17:43:00,106,Male,22,Electronics,3,500.0,245.0,1500.0
1,15,2022-07-01,0 days 11:50:00,75,Female,42,Electronics,4,500.0,210.0,2000.0
2,16,2022-06-25,0 days 10:33:00,82,Male,19,Clothing,3,500.0,180.0,1500.0
3,31,2023-12-31,0 days 17:47:00,3,Male,44,Electronics,4,300.0,129.0,1200.0
4,46,2022-11-08,0 days 17:50:00,54,Female,20,Electronics,4,300.0,84.0,1200.0
...,...,...,...,...,...,...,...,...,...,...,...
301,1942,2023-09-16,0 days 11:53:00,112,Male,51,Clothing,3,500.0,265.0,1500.0
302,1943,2023-11-17,0 days 21:00:00,108,Female,57,Clothing,4,300.0,321.0,1200.0
303,1946,2023-07-27,0 days 20:48:00,5,Male,62,Electronics,4,500.0,165.0,2000.0
304,1956,2023-06-01,0 days 20:40:00,62,Male,30,Clothing,3,500.0,170.0,1500.0
305,1970,2023-05-22,0 days 17:44:00,5,Male,59,Electronics,4,500.0,230.0,2000.0

Write a SQL query to find the total number of transactions (transaction_id) made by each gender in each category.:

In [59]:
query="""SELECT  category,gender,COUNT(transactions_id) AS TOTAL_TRANS
         FROM retail_sales
         GROUP BY 1,2
         """

pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\4093051379.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

      category  gender  TOTAL_TRANS
0       Beauty    Male          281
1     Clothing  Female          347
2  Electronics    Male          343
3     Clothing    Male          351
4       Beauty  Female          330
5  Electronics  Female          335

Write a SQL query to calculate the average sale for each month. Find out best selling month in each year:

In [74]:
query="""WITH SALES_YEAR_MONTH_WISE AS (
                SELECT 	
                DATE_FORMAT(sale_date, "%Y") AS YEAR, 
                DATE_FORMAT(sale_date, "%M") AS MONTH,
                 ROUND(AVG(total_sale),2) AS TOTAL_SALES_AVG,
                 ROW_NUMBER() OVER(PARTITION BY DATE_FORMAT(sale_date, "%Y") ORDER BY AVG(total_sale) DESC ) AS RN
         FROM retail_sales
         GROUP BY YEAR,MONTH)
	SELECT * FROM SALES_YEAR_MONTH_WISE
    WHERE RN=1
         """

pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\3064864241.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

   YEAR     MONTH  TOTAL_SALES_AVG  RN
0  2022      July           541.34   1
1  2023  February           535.53   1

**Write a SQL query to find the top 5 customers based on the highest total sales **:

In [77]:
query="""SELECT customer_id,SUM(total_sale) AS TOTAL_SALES
         FROM retail_sales
         GROUP BY customer_id
         ORDER BY  TOTAL_SALES DESC
         LIMIT 5
         """

pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\3365924779.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

   customer_id  TOTAL_SALES
0            3      38440.0
1            1      30750.0
2            5      30405.0
3            2      25295.0
4            4      23580.0

Write a SQL query to find the number of unique customers who purchased items from each category.:

In [79]:
query="""SELECT category,COUNT(DISTINCT CUSTOMER_ID) AS UNIQUE_CUSTOMER
         FROM retail_sales
         GROUP BY category
         """

pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\4104255826.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

      category  UNIQUE_CUSTOMER
0       Beauty              141
1     Clothing              149
2  Electronics              144

Write a SQL query to create each shift and number of orders (Example Morning <12, Afternoon Between 12 & 17, Evening >17):

In [81]:
query="""    WITH swift_wise AS(
    SELECT *,
    CASE WHEN TIME_FORMAT(sale_time,"%H")<12 THEN 'Morning'
    WHEN TIME_FORMAT(sale_time,"%H")>17 THEN 'Evening'
    ELSE "Afternoon"
    END AS "shift"
    FROM retail_sales)
    SELECT shift,COUNT(transactions_id) AS CUSTOMER_COUNT FROM  swift_wise
    GROUP BY shift
         """

pd.read_sql_query(query,con=connection)

C:\Users\ayush\AppData\Local\Temp\ipykernel_30888\4282335551.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(query,con=connection)

       shift  CUSTOMER_COUNT
0    Evening            1062
1    Morning             548
2  Afternoon             377